<div class='progress-msg'>Fri, 27 Mar 2020 14:40:53 +0000</div>
<div class='progress-msg'>[14:40:53] Composing titles...</div>
<div class='progress-msg'>[14:40:53] Composing excerpts...</div>
<div class='progress-msg'>[14:40:53] Composing duplicate indicators...</div>
<div class='progress-msg'>[14:40:53] Composing authors...</div>
<div class='progress-msg'>[14:40:53] Composing slugs...</div>
<div class='progress-msg'>[14:40:53] Composing menu order...</div>
<div class='progress-msg'>[14:40:53] Composing contents...</div>
<div class='progress-msg'>[14:40:53] Composing dates...</div>
<div class='progress-msg'>[14:40:53] Composing terms for `Categories` taxonomy...</div>
<div class='progress-msg'>[14:40:53] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[14:40:53] Composing URLs for images...</div>
<div class='progress-msg'>[14:40:53] Composing URLs for attachments files...</div>
<div class='progress-msg'>[14:40:53] Composing unique keys...</div>
<div class='progress-msg'>[14:40:53] Processing posts...</div>
<div class='progress-msg'>[14:40:53] Data parsing via add-ons...</div>
<div class='progress-msg'>[14:40:53] ---</div>
<div class='progress-msg'>[14:40:53] Record #1</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:40:53] Combine all data for post `Albert Entstein`...</div>
<div class='progress-msg'>[14:40:53] Find corresponding article among previously imported for post `Albert Entstein`...</div>
<div class='progress-msg'>[14:40:53] Duplicate post wasn't found with unique key `Albert Entstein`...</div>
<div class='progress-msg'>[14:40:53] Applying filter `pmxi_article_data` for `Albert Entstein`</div>
<div class='progress-msg'>[14:40:53] <b>CREATING</b> `Albert Entstein` `Post`</div>
<div class='progress-msg'>[14:40:53] Associate post `Albert Entstein` with current import ...</div>
<div class='progress-msg'>[14:40:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:40:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[14:40:53] <b>CREATED</b> `Albert Entstein` `Post` (ID: 175)</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:40:53] ---</div>
<div class='progress-msg'>[14:40:53] Record #2</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:40:53] Combine all data for post `Augustus Augusta`...</div>
<div class='progress-msg'>[14:40:53] Find corresponding article among previously imported for post `Augustus Augusta`...</div>
<div class='progress-msg'>[14:40:53] Duplicate post wasn't found with unique key `Augustus Augusta`...</div>
<div class='progress-msg'>[14:40:53] Applying filter `pmxi_article_data` for `Augustus Augusta`</div>
<div class='progress-msg'>[14:40:53] <b>CREATING</b> `Augustus Augusta` `Post`</div>
<div class='progress-msg'>[14:40:53] Associate post `Augustus Augusta` with current import ...</div>
<div class='progress-msg'>[14:40:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:40:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[14:40:53] <b>CREATED</b> `Augustus Augusta` `Post` (ID: 176)</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:40:53] ---</div>
<div class='progress-msg'>[14:40:53] Record #3</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:40:53] Combine all data for post `Emmy Note`...</div>
<div class='progress-msg'>[14:40:53] Find corresponding article among previously imported for post `Emmy Note`...</div>
<div class='progress-msg'>[14:40:53] Duplicate post wasn't found with unique key `Emmy Note`...</div>
<div class='progress-msg'>[14:40:53] Applying filter `pmxi_article_data` for `Emmy Note`</div>
<div class='progress-msg'>[14:40:53] <b>CREATING</b> `Emmy Note` `Post`</div>
<div class='progress-msg'>[14:40:53] Associate post `Emmy Note` with current import ...</div>
<div class='progress-msg'>[14:40:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:40:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[14:40:53] <b>CREATED</b> `Emmy Note` `Post` (ID: 177)</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:40:53] ---</div>
<div class='progress-msg'>[14:40:53] Record #4</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:40:53] Combine all data for post `Jenny Mote`...</div>
<div class='progress-msg'>[14:40:53] Find corresponding article among previously imported for post `Jenny Mote`...</div>
<div class='progress-msg'>[14:40:53] Duplicate post wasn't found with unique key `Jenny Mote`...</div>
<div class='progress-msg'>[14:40:53] Applying filter `pmxi_article_data` for `Jenny Mote`</div>
<div class='progress-msg'>[14:40:53] <b>CREATING</b> `Jenny Mote` `Post`</div>
<div class='progress-msg'>[14:40:53] Associate post `Jenny Mote` with current import ...</div>
<div class='progress-msg'>[14:40:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:40:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[14:40:53] <b>CREATED</b> `Jenny Mote` `Post` (ID: 178)</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:40:53] ---</div>
<div class='progress-msg'>[14:40:53] Record #5</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:40:53] Combine all data for post `Julius Julia`...</div>
<div class='progress-msg'>[14:40:53] Find corresponding article among previously imported for post `Julius Julia`...</div>
<div class='progress-msg'>[14:40:53] Duplicate post wasn't found with unique key `Julius Julia`...</div>
<div class='progress-msg'>[14:40:53] Applying filter `pmxi_article_data` for `Julius Julia`</div>
<div class='progress-msg'>[14:40:53] <b>CREATING</b> `Julius Julia` `Post`</div>
<div class='progress-msg'>[14:40:53] Associate post `Julius Julia` with current import ...</div>
<div class='progress-msg'>[14:40:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:40:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[14:40:53] <b>CREATED</b> `Julius Julia` `Post` (ID: 179)</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:40:53] ---</div>
<div class='progress-msg'>[14:40:53] Record #6</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:40:53] Combine all data for post `Mister Cellophane`...</div>
<div class='progress-msg'>[14:40:53] Find corresponding article among previously imported for post `Mister Cellophane`...</div>
<div class='progress-msg'>[14:40:53] Duplicate post wasn't found with unique key `Mister Cellophane`...</div>
<div class='progress-msg'>[14:40:53] Applying filter `pmxi_article_data` for `Mister Cellophane`</div>
<div class='progress-msg'>[14:40:53] <b>CREATING</b> `Mister Cellophane` `Post`</div>
<div class='progress-msg'>[14:40:53] Associate post `Mister Cellophane` with current import ...</div>
<div class='progress-msg'>[14:40:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:40:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[14:40:53] <b>CREATED</b> `Mister Cellophane` `Post` (ID: 180)</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:40:53] ---</div>
<div class='progress-msg'>[14:40:53] Record #7</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:40:53] Combine all data for post `Zolberta Gans`...</div>
<div class='progress-msg'>[14:40:53] Find corresponding article among previously imported for post `Zolberta Gans`...</div>
<div class='progress-msg'>[14:40:53] Duplicate post wasn't found with unique key `Zolberta Gans`...</div>
<div class='progress-msg'>[14:40:53] Applying filter `pmxi_article_data` for `Zolberta Gans`</div>
<div class='progress-msg'>[14:40:53] <b>CREATING</b> `Zolberta Gans` `Post`</div>
<div class='progress-msg'>[14:40:53] Associate post `Zolberta Gans` with current import ...</div>
<div class='progress-msg'>[14:40:53] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:40:53] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `category` ...</div>
<div class='progress-msg'>[14:40:53] - Importing taxonomy `post_tag` ...</div>
<div class='progress-msg'>[14:40:53] <b>CREATED</b> `Zolberta Gans` `Post` (ID: 181)</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:40:53] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:40:53] Cleaning temporary data...</div>
